.change-form
  = form_tag('/make_change', remote: true) do
    = select_tag(:denom, options_for_select([["US Dollar", "usd"],["Euro", "euro"]]))
    = label_tag(:money_value)
    = text_field_tag(:money_value)
    = submit_tag('Submit')
